body
{
    font-family: Lucida grande, tahoma,verdana, arial, sans-serif;
    background-color: #e9e9e9;
}

body p
{
    font-size: 0.8em;
    line-height:1.28;
}

#wrapper
{
    width:  1080px;
    background-color: white;
    margin: 0;
    padding: 10px;
    border: 5px solid #dedede;
}

#content_area
{
   width: 750px; 
   padding: 10px;
}

#input_matrix
{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 10px;
    top: 10px;
    
}

#input_matrix2
{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 300px;
    top: 10px;
}

#det
{
    position: absolute;
    left: 10px;
    top: 650px;
}

#inv
{
    position: absolute;
    left: 60px;
    top: 650px;
}

footer
{
    
}
